@using Orchard.Comments.ViewModels;

<div class="comments-summary-widget">
    <a href="~/@Model.ContentItem.AutoroutePart.DisplayAlias#comm"><img src="~/Themes/Scicentr/Content/double-comments.png"/></a>
    <span class="comments-count-summary">@Model.CommentCount</span>
</div>
