<div class="article-metadata-summary">
    <span>Автор: @Model.ContentPart.Owner.UserName</span>
    <div class="meta-summary-separator"></div>
    <span>@Display.DateTime(DateTimeUtc: Model.ContentItem.CommonPart.CreatedUtc, CustomFormat: T("dd MMMM yyyy"))</span>
</div>