@{
    Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;
    string title = Model.Title.ToString();
}

<div class="article-summary-title">
    <h2>@Html.ItemDisplayLink(title, contentItem)</h2>
</div>
