<article class="footer-termscloud">
    <header>
        <h6>ПОПУЛЯРНЫЕ ТЕГИ</h6>
    </header>
    @Display(Model.Content)
    @if(Model.Footer != null) {
    <footer>
        @Display(Model.Footer)
    </footer>
    }
</article>